* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: tomato;
  margin-bottom: 20px;
}
.header_night {
	background-color: black;
}

.link{
  text-decoration: none;
  color: white;
}
